# Project related

# Java related
pom.xml
pom.xml.asc
*jar
*.class

# Leiningen
classes/
lib/
native/
checkouts/
target/
.lein-*
repl-port
.nrepl-port
.repl

# Temp Files
*.orig
*~
.*.swp
.*.swo
*.tmp
*.bak

# OS X
.DS_Store

# Logging
*.log
/logs/

# Builds
out/
build/

.idea
_docker-compose.yml
rimdb.env
.cpcache
resources/import
.shadow-cljs
node_modules
resources/public/admin/js/main/cljs-runtime
.env
*.csv#
import-resources
/deploy/
resources/public/admin/js/main/main.js
resources/public/admin/js/main/manifest.edn
