{:paths ["src/main" "resources"],
 :aliases
        {:test       {:extra-paths ["src/test"]
                      :extra-deps  {org.clojure/test.check {:mvn/version "RELEASE"}}}
         :runner     {:extra-paths ["src/test"],
                      :extra-deps  {com.cognitect/test-runner
                                    {:git/url "https://github.com/cognitect-labs/test-runner"
                                     :sha     "3cb0a9daf1cb746259dc8309b218f9211ad3b33b"}}
                      :main-opts   ["-m" "cognitect.test-runner" "-d" "test"]}
         :uberjar    {:main-opts ["-m" "riverdb.server"]}
         :run        {:main-opts ["-m" "riverdb.server"]}
         :clj-tests  {:extra-paths ["src/test"]
                      :main-opts   ["-m" "kaocha.runner"]
                      :extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-529"}}}
         :dev        {:extra-paths ["src/dev"]
                      :extra-deps  {expound                      {:mvn/version "0.7.2"}
                                    org.clojure/tools.namespace  {:mvn/version "1.0.0"}
                                    org.clojure/tools.deps.alpha {:mvn/version "0.8.666"}
                                    vlaaad/reveal                {:mvn/version "0.1.0-ea1"}}}

         :local-dev  {:override-deps
                      {thosmos/util           {:local/root "/Users/thomas/Develop/clojure/thosmos.util"
                                               :exclusions [com.datomic/datomic-free]}
                       com.fulcrologic/fulcro {:local/root "/Users/thomas/Develop/cljs/fulcro/fulcro"}}}
         :bench      {:extra-deps {criterium {:mvn/version "0.4.5"}}}

         :guardrail  {:extra-deps {com.fulcrologic/guardrails {:mvn/version "0.0.10"}}
                      :jvm-opts   ["-XX:-OmitStackTraceInFastThrow" "-Dguardrails.enabled=true"]}

         :cljsbuild  {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.597"}
                                   thheller/shadow-cljs      {:mvn/version "2.8.83"}
                                   thheller/shadow-cljsjs    {:mvn/version "0.0.21"}
                                   clj-commons/pushy         {:mvn/version "0.3.10"}}}

         :cljs-dev   {:extra-paths ["src/test" "src/workspaces"]
                      :extra-deps  {fulcrologic/fulcro-spec      {:mvn/version "3.1.4"}
                                    binaryage/devtools           {:mvn/version "0.9.10"}
                                    com.github.awkay/workspaces  {:mvn/version "1.0.0-RC2"}
                                    org.clojure/tools.deps.alpha {:mvn/version "0.8.666"}}}

         :rad        {:extra-paths ["src/rad"]
                      :extra-deps  {com.fulcrologic/fulcro-rad {:local/root "/Users/thomas/Develop/cljs/fulcro/fulcro-rad"}}}
         :rad-server {:extra-deps {com.fulcrologic/fulcro-rad-datomic
                                   {:local/root "/Users/thomas/Develop/cljs/fulcro/fulcro-rad-datomic"}}}

         :server     {:extra-paths ["src/server"]
                      :extra-deps  {com.datomic/datomic-free         {:mvn/version "0.9.5697" :exclusions [org.slf4j/slf4j-nop]}
                                    vvvvalvalval/datomock            {:mvn/version "0.2.2"}
                                    buddy/buddy-hashers              {:mvn/version "1.4.0"}
                                    buddy/buddy-sign                 {:mvn/version "3.1.0"}
                                    clj-mailgun                      {:mvn/version "0.2.0"}
                                    clojure-csv                      {:mvn/version "2.0.2"}
                                    ;com.datomic/datomic-pro          {:mvn/version "0.9.6014" :exclusions [org.slf4j/slf4j-nop org.slf4j/jul-to-slf4j org.slf4j/log4j-over-slf4j org.slf4j/jcl-over-slf4j]}
                                    ;mysql/mysql-connector-java       {:mvn/version "8.0.18"}
                                    com.rpl/specter                  {:mvn/version "1.1.3"}
                                    com.walmartlabs/lacinia-pedestal {:mvn/version "0.12.0" :exclusions [clojure-future-spec org.clojure/spec.alpha org.clojure/tools.reader]}
                                    datomic-schema                   {:mvn/version "1.3.0"}
                                    io.pedestal/pedestal.jetty       {:mvn/version "0.5.7"}
                                    io.pedestal/pedestal.service     {:mvn/version "0.5.7" :exclusions [org.slf4j/slf4j-api]}
                                    org.clojure/core.async           {:mvn/version "0.7.559"}
                                    org.clojure/core.rrb-vector      {:mvn/version "0.1.1"}
                                    thosmos/domain-spec              {:mvn/version "0.1.2" :exclusions [com.datomic/datomic-free]}
                                    javax.servlet/servlet-api        {:mvn/version "2.5"}
                                    ring/ring-core                   {:mvn/version "1.8.0"}
                                    ring/ring-defaults               {:mvn/version "0.3.2"}
                                    commons-codec                    {:mvn/version "1.13"}
                                    bk/ring-gzip                     {:mvn/version "0.3.0"}
                                    mount                            {:mvn/version "0.1.16"}
                                    hiccup                           {:mvn/version "1.0.5"}
                                    clj-time/clj-time                {:mvn/version "0.15.2"}
                                    clojure.java-time                {:mvn/version "0.3.2"}}}
         :import     {:extra-paths ["src/import"]
                      :extra-deps  {;; geotools
                                    org.geotools/gt-shapefile {:mvn/version "22.2"}
                                    org.geotools/gt-epsg-hsql {:mvn/version "22.2"}
                                    org.geotools/gt-main      {:mvn/version "22.2"}
                                    com.vividsolutions/jts    {:mvn/version "1.13"}}}



         :repl       {:jvm-opts ["-server" "-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]}} ;["-Xms512m" "-Xmx512m" "-server" "-Dclojure.server.repl={:port,5555,:accept,clojure.core.server/repl}"]}},
 :deps
        {org.clojure/clojure                 {:mvn/version "1.10.1"}

         ;thosmos/util                        {:local/root "../../clojure/thosmos.util"}
         thosmos/util                        {:mvn/version "0.2.0"}

         ;; time
         tick                                {:mvn/version "0.4.21-alpha"}

         ;; Plain data Schemas for Clojure/Script
         metosin/malli                       {:mvn/version "0.0.1-SNAPSHOT"}

         ;; needed during cljs build for setting :LOG_LEVEL in theta.log
         lynxeyes/dotenv                     {:mvn/version "1.0.2"}

         ;; needed during cljs build for setting :LOG_LEVEL in theta.log
         org.clojure/tools.logging           {:mvn/version "0.5.0"}
         ch.qos.logback/logback-classic      {:mvn/version "1.2.3"}

         ;; minimal react wrapper
         hicada                              {:mvn/version "0.1.8"}

         ;; fulcro
         com.fulcrologic/fulcro              {:mvn/version "3.1.9"}

         com.fulcrologic/fulcro-garden-css   {:mvn/version "3.0.7" :exclusions [garden]}
         com.fulcrologic/semantic-ui-wrapper {:mvn/version "1.0.0"}
         garden                              {:mvn/version "1.3.9"}
         com.taoensso/timbre                 {:mvn/version "4.10.0"}
         com.taoensso/tufte                  {:mvn/version "2.1.0"}
         com.wsscode/pathom                  {:mvn/version "2.2.28"}}
 ;;com.influxdb/influxdb-client-java   {:mvn/version "1.3.0"}}


 :mvn/repos
        {"boundlessgeo" {:url "https://repo.boundlessgeo.com/main/"}
         "geotoolkit"   {:url "https://maven.geotoolkit.org"}
         "osgeo"        {:url "https://download.osgeo.org/webdav/geotools"}}}