{;; Legal Origins for API request.
 :legal-origins #{"riverdb.org" "gql.riverdb.org" "admin.riverdb.org" "localhost"  "192.168.1.103"}

 :taoensso.timbre/logging-config {:level :debug}

 ;; You probably want these set to true in real production:
 :ring.middleware/defaults-config
                {:proxy    false
                 :security {:ssl-redirect false}}}
